.contenedorFormulario{
    background-color: rgb(231, 231, 231);
    min-height: 61vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 7px;
    width: 400px;
}

.formulario img{
    height: 100px;
}

.formulario form{
   padding: 0 0 25px 0;
}

button.botonFormulario{
    padding: 2px;
    height: 50px;
    width: 250px;
}