*{
    margin: 0;
    padding: 0;
}

.carrusel{
    height: 450px;
    margin: 0;
}

#contenedorIndex{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#contenedorIndex div{
    display:flex;
}

#contenedorIndex div button{
    margin: 40px;
}

.btn{
    height: 100px;
    width: 300px;
}