*{
    margin: 0;
    padding: 0;
}

.carrusel{
    height: 450px;
    margin: 0;
}

.contenedorIndex{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 250px 40px 250px;
}

.contenedorIndex div{
    display:flex;
}

.contenedorIndex div button{
    margin: 40px;
}

.btn{
    height: 100px;
    width: 300px;
}

#titulo{
    color:#0d59ca;
}

.parrafo{
    font-size: large;
    text-align: justify;
}

#esquema{
    width: 800px;
}
