*{
    margin: 0;
    padding: 0;
}

/*BODY*/
body{
    min-height: 100vh;
    max-width: 100vw;
}

/*HEADER*/
#cabecera{
    background-color:#0d59ca ;
    height: 15vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; top: 0;
    z-index: 99;
}

#cabecera a img{
    height: 130px;
    margin-left: 20px;
}

#cabecera div {
    margin-right: 50px;
}

.enlaceHeader{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.enlaceHeader:hover{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#cabecera .enlaceHeader .iconos{
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}


/*FOOTER*/
#pie{
    background-color:lightgray;
    height: 24vh;
    max-width: 100vw;
}

#menu{
    padding-top: 40px;
}

#pie h1{
    color: white;
}

#pie section #menu{
    display: flex;
    justify-content: center;
}

#pie section #menu div{
    display: flex;
    flex-direction: column;
}

#pie section p{
    float: right;
    margin-right: 30px;
}

#menu div{
    margin-right: 80px;
}

.enlaceFooter {
    text-decoration: none;
    color: black;
}

.enlaceFooter:hover{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#pie h1{
    color: white;
}