/* TABLA */
.contenedorTablas{
    margin-top: 40px;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tablaSection{
    display: flex;
    justify-content: center;
    width: 1300px;
}

button.botonTabla{
        padding: 2px;
        height: 50px;
        width: 120px;
        margin: 0px;
}

.tabla{
    width: 1300px;
}

.sinbordes{
    border: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.centrado{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CONTENEDOR OPCIONES*/
.opcionesContenedor{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: sticky;
}

.opcionesContenedor a{
    width: 200px;
    height: 40px;
    margin: 10px 0 10px 0;
}

.iconos{
    height: 25px;
    padding-bottom: 3px;
    margin-right: 5px;

}

button.botonFormulario .iconos{
    height: 25px;
    padding-bottom: 3px;
    margin-right: 5px;

}